
  /* INDEX-HEADER */
  header a {
    color: #fff;
  }
  header {
    width: 100%;
    position: fixed;
    top: 0;
  
  }
  header .header {
    height: 100px;
    background-color: inherit;
  }
  header .header .main-menu {
    position: absolute;
    top: calc(50% - 24px);
  }
  header .header .main-menu ul.menu {
    padding-left: 80px;
  }
  header .header .main-menu ul.menu li {
    float: left;
    text-align: center;
    padding: 20px;
  }
  header .header .main-menu ul.menu span {
    display: inline-block;
    position: absolute;
    top: calc(50% - 14px);
  }
  
  header .header .logo{
    width: 120px;
    height: 75px; 
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin: auto;
  }
  header .header .logo img {
    width:120px;
  }
  
  header .sub-menu {
    position: absolute;
    right: 0;
    top: calc(50% - 24px);
  }
  header .header .sub-menu ul.menu {
    padding-right: 80px;
  }
  header .header .sub-menu ul.menu li {
    float: left;
    text-align: center;
    padding: 10px;
  }
.header.header-active {
  background-color: #fff;
}
.header.header-active a {
  color: #000;
}




/* VISUAL */
.visual {
  background-image: url("../fuglen_img/main_visual.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 0% 100%;
}
.visual .inner {
  height: 700px;
}
.visual .inner .info {
  position: absolute;
  bottom: 200px;
  left: 0;
  right: 0;
  margin: auto;
  text-align: center;
  color: #fff;
}
.visual .inner .btn {
  position: absolute;
  bottom: 135px;
  left: 0;
  right: 0;
  margin: auto;
}
.visual .inner .btn:hover {
  background-color: #f5a800;
  color: #fff;
  border: 1px solid #f5a800;
  transform: scale(1.1);
  font-weight: 900;
}
.visual h2,
.visual h3 {
  color: #fff;
}
.visual h2 {
  font-size: 40px;
}

/* PRODUCTS */
.products {
  height: 550px;
  
  overflow: hidden;
  position: relative;
}
.products .swiper-container{
  width: 1420px;
  position: absolute;
  top: 0px;
  left: calc(50% - 710px);
  
}  
.products .swiper-container.hide {
  height: 0;
}
.products .swiper-container .swiper-wrapper {
  
}
.products .swiper-container .swiper-slide {
  position: relative;
  opacity: .01;
  transition: opacity 1s;
}
.products .swiper-container .swiper-slide-active {
  opacity: 1;
}

.products .coffee {
  position: relative;
  height: 550px;
  
}
.products .coffee .btn{
  position: absolute;
  bottom: 30px;
  left: 0;
  right: 0;
  margin: auto;
}
.products .title {
  
}
.products .coffee .coffees {
  display: flex;
  justify-content: center;

  height: 300px;
  
}
.products .coffee .coffees .coffee0 {
  width: 270px;

  margin: 11px;
  position: relative;
  
}
.products .coffee .coffees .coffee0 .coffee-subs {
  color: #000;
  position: absolute;
  padding: 5px;
  
}
.products .coffee .coffees .coffee0 .sub01 {
  left: 25px;
}
.products .coffee .coffees .coffee0 .sub02 {
  font-size: 12px;
  left: 10px;
}
.products .coffee .coffees .coffee0 .sub03 {
  left: 15px;
}
.products .coffee .coffees .coffee0 .sub04 {
  left: 10px;
}

.products .equipment {
  position: relative;
  height: 550px;
  
}
.products .equipment .btn {
  position: absolute;
  bottom: 30px;
  left: 0;
  right: 0;
  margin: auto;
}
.products .equipment .equip {
  display: flex;
  justify-content: center;
  height: 300px;
}
.products .equipment .equip .equip0{
  width: 270px;
  margin: 17px;
  position: relative;
}
.products .equipment .equip .equip0 .equip-subs {
  color: #000;
  position: absolute;
  padding: 5px;
}
.products .equipment .equip .equip0 .sub01 {
  left: 35px;
}
.products .equipment .equip .equip0 .sub02 {
  left: 45px;
}
.products .equipment .equip .equip0 .sub03 {
  left: 65px;
}
.products .equipment .equip .equip0 .sub04 {
  left: 75px;
}

.products .swiper-prev,
.products .swiper-next {
    width: 42px;
    height: 42px;
    border: 0;
    border-radius: 50%;
    position: absolute;
    top: 260px;
    z-index: 1;
    cursor: pointer;
    outline: none;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .4s;   
}
.products .swiper-prev {
    left:50%;
    margin-left: -660px;
  }
   .products .swiper-next {
    right:50%;
    margin-right: -660px;
  }
   .products .swiper-prev:hover,
   .products .swiper-next:hover {
    background-color: #f5a800;
    color: #fff;
  } 



/* ABOUT */
.aboutus {
  height: 350px;
  display: flex;
  
  align-items: center;
  
}
.aboutus .inner {
  justify-content: center;
  display: flex;
  width: 1200px;
  height: 250px;
  align-items: center;
  
  left: calc(50% - 565px);
}
.aboutus .inner .about-img {
  align-items: center;
  border: 2px solid #000;
  border-top: 0;
  border-bottom: 0;
  border-left: 0;
  padding-right: 70px;
}
.aboutus .inner .about-subs {
  margin-left: 70px; 
  
  width: 560px;
}
.aboutus .inner .about-subs p {
 
}


/* POSTER */
.poster {
  position: relative;
  
  height: 550px;  
}
.poster .poster-inner {
  
}
.poster .posters {
  display: flex;
  justify-content: center;
  
}
.poster .posters .poster0 {
  margin: 15px;
}
.poster .posters .poster0 .poster01{

}
.poster .posters .poster0 .poster-subs{
  text-align: center;
  margin-top: 5px;
}
.poster .btn{
  position: absolute;
  bottom: 30px;
  left: 0;
  right: 0;
  margin: auto;
}


/* SINGUP */
.signup {
  height: 245px;
  background-color: #464a2f;
}
.signup .inner {
  position: relative;
  width: 1100px;
  margin: 0 auto;
  text-align: center;
}
.signup .inner .signup-main {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
}
.signup .inner .signup-main h2,
.signup .inner .signup-main h3 {
  color: #fff;
}
.signup .inner .signup-main h2 {
  margin-top: 30px;
  font-size: 32px;
}
.signup .inner .signup-main h3 {
  margin-top: 15px;
  font-weight: 100;
}

.signup .inner .signup-main .signup-input-btn {
  position: relative;
  top: 45px;
  width: 400px;
  height: 45px;
  border: 1px solid #000;
  background-color: inherit;
}
.signup .inner .signup-main .signup-input {
  background-color: inherit;
  width: 100%;
  height: 45px;
  color: #fff;
  box-sizing: border-box;
  padding-left: 15px;
}
.signup .inner .signup-main .signup-submit {
  position: absolute;
  right: 0;
  width: 45px;
  height: 45px;
  background-color: inherit;
  
}
.signup .inner .signup-main .signup-submit span {
  font-weight: 300;
  color: #fff;
}
